services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_DB: pingpong
      POSTGRES_USER: pingpong
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
volumes:
  postgres_data: