apiVersion: apps/v1
kind: Deployment
metadata:
  name: webserver-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: webserver
  template:
    metadata:
      labels:
        app: webserver
    spec:
      volumes:
        - name: cache-volume
          persistentVolumeClaim:
            claimName: image-cache-pvc
      containers:
        - name: webserver
          image: jjairola/webserver@sha256:6f9d8023580178b96ec16c07678bd4da459f276047ff9b6929a4ea66a9ff6820
          env:
            - name: TODO_BACKEND_URL
              value: http://todo-backend-svc
            - name: CACHE_DIR
              value: /app/.cache
          volumeMounts:
            - mountPath: /app/.cache
              name: cache-volume
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 256Mi
          ports:
            - containerPort: 3000
          readinessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 3