apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
type: Opaque
data:
  database: dG9kbw==  # Base64 encoded 'todo'
  username: dG9kb191c2Vy  # Base64 encoded 'todo_user'
  password: cGFzc3dvcmQ=  # Base64 encoded 'password'