namespace: staging

bases:
- ../base

patchesStrategicMerge:
- |-
  apiVersion: apps/v1
  kind: Deployment
  metadata:
    name: broadcaster-dep
  spec:
    template:
      spec:
        containers:
        - name: broadcaster
          env:
          - name: SLACK_WEBHOOK_URL
            value: ""
- |-
  apiVersion: batch/v1
  kind: CronJob
  metadata:
    name: postgres-backup
  spec:
    suspend: true