apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-output-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-output
  template:
    metadata:
      labels:
        app: log-output
    spec:
      containers:
        - name: log-output
          image: jjairola/log_output:latest
          env:
            - name: PINGPONG_URL
              value: "http://pingpong-svc:2346"
          ports:
            - containerPort: 3000